*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(194, 194, 243);
    flex-direction: column;
}
.wrapper{
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    background-color: rgb(5, 125, 151);
    color: rgb(194, 194, 243);
    text-align: center;
    margin: auto;
    position: relative;
    max-height: 1000px;
    max-width: 960px;
}
.start {
    width:80%;
    margin: .4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(194, 194, 243);
    padding: 0px 0px 1.4rem 0px;
    font-size: x-small;
    font-weight: 900;
    /* background-color: blue; */

}
.joke{
    width: 80%;
    margin: 4rem auto 2rem auto;
    height: 45%;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    /* background-color: red; */
    padding: 1rem .8rem;
    overflow-y: scroll;
    

}
button{
    padding: .7rem 1.2rem;
    font-size: 1rem;
    background-color: rgb(194, 194, 243);
    color: rgb(5, 125, 151);
    border: none;
    outline: none;
    border-radius: 1rem;
    /* transition: all 1s ; */
    margin-bottom: 8rem;
}
button:active{
    background-color: rgb(167, 167, 243);
    color: rgb(2, 90, 110);
    transform: translateY(4px);
}

@media (min-width: 768px){
    .start{
        font-size: 1rem;
        margin-top: 1rem;
    }

    button{
        padding: .8rem 1.4rem;
        font-size: 2rem;
        /* position: absolute;
        bottom: 5%;
        /* left: 30%; */
        /* left:calc(100vw - 85%);  */
    
    }
    .joke{
        max-height: 30vh;
        font-size: 1.6rem;
    }
    .wrapper{
          min-height: 400px;
          min-width: 650px;

    }
}